.center-div
{
    text-align: center;
}
body
{
    background-color: #2A2727;
    color: White;
    
}
a{
    color: #B8B840;
}

.social-links 
{
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}